---
layout: layouts/base.njk
title: Bio
nav: bio
permalink: /bio/
---
<section class="bio">
  <img class="bio-photo" src="/images/profile/ines-portrait.jpg" alt="{{ site.name }}" width="1600" height="1067">
  <div class="bio-text">
    <h1 class="bio-name">{{ site.name }}</h1>
    <p class="bio-role">{{ site.role }}</p>
    <p class="bio-statement">{{ site.bio }}</p>
  </div>
</section>
